<nav class="navbar navbar-default">
    <div class="contain-fluid">
        <header class="navbar-header">
            <a href="#" class="navbar-brand">Recipe book</a>
        </header>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active">
                    <a routerLink="/recipes">Recipes</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/shopping-list">Shopping List</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown="appDropdown">
                    <a style="cursor: pointer" class="dropdown-toggle" role="button">Manage
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a style="cursor: pointer">Save Data</a>
                        </li>
                        <li>
                            <a style="cursor: pointer">Fetch Data</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
