<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">
        Only show odd numbers
      </button>
      <br /><br />
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let odd of oddNumbers"
            [ngClass]="{ odd: odd % 2 !== 0 }"
            [ngStyle]="{backgroundColor:odd%2 !== 0 ? 'yellow':'transparent'}"
          >
            {{ odd }}
          </li>
        </div>
        <div *ngIf="!onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let even of evenNumbers"
            [ngClass]="{ odd: even % 2 !== 0 }"
            [ngStyle]="{backgroundColor:even%2 !== 0 ? 'yellow':'transparent'}"
          >
            {{ even }}
          </li>
        </div>
      </ul>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>
      <p appBasicHighlight>style me with basic directive!</p>
      <p appBetterHighlight>style me with better directive!</p>
    </div>
  </div>
</div>
